In [1]:
import pandas as pd
links = pd.read_csv("ml-latest-small/links.csv")
movies = pd.read_csv("ml-latest-small/movies.csv")
ratings = pd.read_csv("ml-latest-small/ratings.csv")
tags = pd.read_csv("ml-latest-small/tags.csv")

In [2]:
movies[movies['movieId']== 50]

    movieId                       title                  genres
46       50  Usual Suspects, The (1995)  Crime|Mystery|Thriller

In [3]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [4]:
for i in (links,movies,ratings,tags):
    print(i.head(15),end="\n\n\n")

    movieId  imdbId   tmdbId
0         1  114709    862.0
1         2  113497   8844.0
2         3  113228  15602.0
3         4  114885  31357.0
4         5  113041  11862.0
5         6  113277    949.0
6         7  114319  11860.0
7         8  112302  45325.0
8         9  114576   9091.0
9        10  113189    710.0
10       11  112346   9087.0
11       12  112896  12110.0
12       13  112453  21032.0
13       14  113987  10858.0
14       15  112760   1408.0


    movieId                               title  \
0         1                    Toy Story (1995)
1         2                      Jumanji (1995)
2         3             Grumpier Old Men (1995)
3         4            Waiting to Exhale (1995)
4         5  Father of the Bride Part II (1995)
5         6                         Heat (1995)
6         7                      Sabrina (1995)
7         8                 Tom and Huck (1995)
8         9                 Sudden Death (1995)
9        10                    GoldenEye (1995)
10       11      American President, The (1995)
11       12  Dracula: Dead and Loving It (1995)
12       13                        Balto (1995)
13       14                        Nixon (1995)
14       15             Cutthroat Island (1995)

                                         genres
0   Adventure|Animation|Children|Comedy|Fantasy
1                    Adventure|Children|Fantasy
2                                Comedy|Romance
3                          Comedy|Drama|Romance
4                                        Comedy
5                         Action|Crime|Thriller
6                                Comedy|Romance
7                            Adventure|Children
8                                        Action
9                     Action|Adventure|Thriller
10                         Comedy|Drama|Romance
11                                Comedy|Horror
12                 Adventure|Animation|Children
13                                        Drama
14                     Action|Adventure|Romance


    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
5        1       70     3.0  964982400
6        1      101     5.0  964980868
7        1      110     4.0  964982176
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
12       1      223     3.0  964980985
13       1      231     5.0  964981179
14       1      235     4.0  964980908


    userId  movieId                tag   timestamp
0        2    60756              funny  1445714994
1        2    60756    Highly quotable  1445714996
2        2    60756       will ferrell  1445714992
3        2    89774       Boxing story  1445715207
4        2    89774                MMA  1445715200
5        2    89774          Tom Hardy  1445715205
6        2   106782              drugs  1445715054
7        2   106782  Leonardo DiCaprio  1445715051
8        2   106782    Martin Scorsese  1445715056
9        7    48516       way too long  1169687325
10      18      431          Al Pacino  1462138765
11      18      431           gangster  1462138749
12      18      431              mafia  1462138755
13      18     1221          Al Pacino  1461699306
14      18     1221              Mafia  1461699303

In [5]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [6]:
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
n_ratings = len(ratings)
n_movies = len(ratings['movieId'].unique())
n_users = len(ratings['userId'].unique())

In [8]:
print(n_ratings ,n_movies,n_users,n_ratings/n_users,n_ratings/n_movies)

100836 9724 610 165.30491803278687 10.369806663924312

In [9]:
user_freq = ratings[['userId', 'movieId']].groupby('userId').count().reset_index()
user_freq.columns = ['userId', 'n_ratings']
user_freq.head(15)

    userId  n_ratings
0        1        232
1        2         29
2        3         39
3        4        216
4        5         44
5        6        314
6        7        152
7        8         47
8        9         46
9       10        140
10      11         64
11      12         32
12      13         31
13      14         48
14      15        135

In [10]:
mean_rating = ratings.groupby('movieId')[['rating']].mean()

In [11]:
lowest_rated = mean_rating['rating'].idxmin()
movies.loc[movies['movieId'] == lowest_rated]
highest_rated = mean_rating['rating'].idxmax()
movies.loc[movies['movieId'] == highest_rated]

    movieId            title           genres
48       53  Lamerica (1994)  Adventure|Drama

In [12]:
movie_stats = ratings.groupby('movieId')[['rating']].agg(['count', 'mean'])
movie_stats.columns = movie_stats.columns.droplevel()

In [13]:
ratings[ratings['rating']==5.0]

        userId  movieId  rating   timestamp
3            1       47     5.0   964983815
4            1       50     5.0   964982931
6            1      101     5.0   964980868
8            1      151     5.0   964984041
9            1      157     5.0   964984100
...        ...      ...     ...         ...
100814     610   158238     5.0  1479545219
100829     610   164179     5.0  1493845631
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352

[13211 rows x 4 columns]

In [14]:
ratings2 = ratings.copy()
ratings2 = ratings2.groupby('movieId').agg(list)
ratings2

,userId,rating,timestamp
movieId,,,
1,"[1, 5, 7, 15, 17, 18, 19, 21, 27, 31, 32, 33, ...","[4.0, 4.0, 4.5, 2.5, 4.5, 3.5, 4.0, 3.5, 3.0, ...","[964982703, 847434962, 1106635946, 1510577970,..."
2,"[6, 8, 18, 19, 20, 21, 27, 51, 62, 68, 82, 91,...","[4.0, 4.0, 3.0, 3.0, 3.0, 3.5, 4.0, 4.5, 4.0, ...","[845553522, 839463806, 1455617462, 965704331, ..."
3,"[1, 6, 19, 32, 42, 43, 44, 51, 58, 64, 68, 91,...","[4.0, 5.0, 3.0, 3.0, 4.0, 5.0, 3.0, 4.0, 3.0, ...","[964981247, 845554296, 965707636, 856736172, 9..."
4,"[6, 14, 84, 162, 262, 411, 600]","[3.0, 3.0, 3.0, 3.0, 1.0, 2.0, 1.5]","[845554349, 835441653, 858772461, 836684306, 8..."
5,"[6, 31, 43, 45, 58, 66, 68, 84, 103, 107, 111,...","[5.0, 3.0, 5.0, 3.0, 4.0, 4.0, 2.0, 3.0, 4.0, ...","[845553938, 850466642, 848994281, 959625102, 8..."
...,...,...,...
193581,[184],[4.0],[1537109082]
193583,[184],[3.5],[1537109545]
193585,[184],[3.5],[1537109805]
193587,[184],[3.5],[1537110021]
193609,[331],[4.0],[1537157606]

In [15]:
ratings2['avarage_score']=1
def avarage_score(row):
    if len(row['rating']) > 10:
        avarage_score = sum(row['rating'])/len(row['rating'])
        row['avarage_score'] = avarage_score
    return row
ratings3 = ratings2.apply(avarage_score, axis=1)
ratings3.sort_values('avarage_score', ascending = False).head(20)

,userId,rating,timestamp,avarage_score
movieId,,,,
1041,"[74, 90, 195, 221, 275, 290, 372, 391, 474, 60...","[5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 4.0, 4.0, 4.5, ...","[1207499247, 856354268, 974709608, 1111178190,...",4.590909
3451,"[27, 113, 140, 177, 265, 322, 474, 488, 587, 5...","[5.0, 5.0, 4.0, 5.0, 4.0, 3.0, 4.5, 5.0, 5.0, ...","[965149512, 980307165, 1021898998, 1435720892,...",4.545455
1178,"[105, 199, 249, 305, 312, 339, 391, 414, 421, ...","[4.0, 5.0, 4.0, 5.0, 5.0, 4.5, 5.0, 4.0, 4.5, ...","[1447574111, 940380424, 1346757558, 1516130775...",4.541667
1104,"[32, 84, 118, 131, 171, 177, 182, 221, 285, 30...","[5.0, 4.0, 4.0, 4.5, 5.0, 5.0, 4.5, 5.0, 5.0, ...","[856737082, 860397100, 944924487, 1349838654, ...",4.475000
2360,"[74, 105, 156, 198, 275, 318, 336, 346, 387, 3...","[4.5, 4.0, 5.0, 3.0, 5.0, 4.5, 5.0, 4.5, 4.5, ...","[1207500558, 1448214688, 960646812, 1034136028...",4.458333
1217,"[23, 64, 66, 74, 84, 156, 199, 325, 390, 414, ...","[3.5, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, 5.0, ...","[1107341647, 1161531086, 1099188036, 120750193...",4.433333
318,"[2, 5, 6, 8, 11, 14, 15, 16, 17, 18, 22, 24, 2...","[3.0, 3.0, 5.0, 5.0, 4.0, 3.0, 5.0, 4.0, 5.0, ...","[1445714835, 847434880, 845553200, 839463489, ...",4.429022
951,"[57, 84, 89, 137, 216, 221, 275, 290, 387, 412...","[4.0, 4.0, 3.5, 5.0, 5.0, 4.0, 5.0, 5.0, 3.5, ...","[969753168, 860397323, 1520408278, 1204859789,...",4.392857
3468,"[70, 103, 113, 156, 166, 275, 292, 307, 409, 4...","[5.0, 5.0, 4.0, 5.0, 4.5, 5.0, 3.0, 3.5, 4.0, ...","[1355198425, 1431969791, 980307140, 953534519,...",4.333333
922,"[9, 53, 57, 59, 66, 84, 105, 137, 156, 177, 18...","[4.0, 5.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 4.0, ...","[1044657026, 1237748084, 965795803, 953609611,...",4.333333
3435,"[17, 57, 63, 216, 221, 275, 290, 309, 325, 356...","[3.5, 4.0, 4.0, 5.0, 4.5, 5.0, 5.0, 4.0, 5.0, ...","[1307262260, 965795745, 1443200927, 975211546,...",4.323529
905,"[89, 105, 128, 156, 177, 186, 216, 217, 221, 2...","[3.0, 4.0, 5.0, 5.0, 4.0, 5.0, 4.0, 4.0, 4.5, ...","[1520408275, 1448195403, 899033229, 939853546,...",4.321429
898,"[4, 28, 84, 89, 128, 138, 156, 177, 186, 188, ...","[5.0, 3.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 4.0, ...","[964623347, 1243837286, 860397176, 1520408274,...",4.310345
7156,"[29, 152, 168, 187, 232, 296, 317, 339, 414, 4...","[4.5, 4.5, 4.5, 4.0, 3.5, 4.5, 5.0, 5.0, 4.0, ...","[1307906727, 1450867724, 1306802435, 116195450...",4.307692
176,"[4, 95, 171, 182, 275, 318, 414, 437, 477, 500...","[5.0, 4.0, 5.0, 4.5, 4.0, 3.5, 4.0, 5.0, 4.0, ...","[964622565, 1048382937, 866905925, 1069633835,...",4.307692
1209,"[17, 18, 28, 29, 74, 168, 187, 197, 202, 249, ...","[3.5, 5.0, 3.0, 4.5, 4.0, 4.5, 5.0, 5.0, 5.0, ...","[1307262267, 1455050528, 1235805640, 130802504...",4.305556
1204,"[29, 50, 57, 64, 75, 83, 108, 137, 140, 156, 1...","[4.5, 4.5, 5.0, 5.0, 3.5, 3.0, 5.0, 5.0, 5.0, ...","[1308084015, 1526329645, 965795827, 1161529352...",4.300000
475,"[4, 5, 6, 28, 33, 58, 74, 84, 117, 144, 171, 1...","[5.0, 5.0, 4.0, 4.0, 4.0, 5.0, 5.0, 4.0, 3.0, ...","[945174290, 847435311, 845554099, 1234334912, ...",4.300000
246,"[32, 38, 70, 79, 84, 109, 121, 137, 140, 177, ...","[4.0, 5.0, 4.5, 5.0, 4.0, 3.0, 3.0, 5.0, 3.0, ...","[856737338, 841341715, 1355198793, 975281661, ...",4.293103
80906,"[2, 41, 68, 227, 282, 317, 318, 326, 462, 495,...","[5.0, 2.0, 4.0, 4.0, 4.5, 5.0, 4.0, 5.0, 4.0, ...","[1445715172, 1459367495, 1332628633, 144720992...",4.291667

In [16]:
selection = ratings3[ratings3['avarage_score']>4.2]
selection.drop(['userId', 'rating', 'timestamp' ], inplace = True, axis = 1)

movies

C:\Users\Carlt\AppData\Local\Temp\ipykernel_14496\3431707787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selection.drop(['userId', 'rating', 'timestamp' ], inplace = True, axis = 1)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [17]:
movies_selection = selection.join(movies.set_index('movieId'))
movies_selection = movies_selection.drop(['avarage_score', 'genres'], axis = 1 )

movies_selection_list = [x[0] for x in movies_selection.values]
movies_selection_list

['Persuasion (1995)',
 'Usual Suspects, The (1995)',
 'Crumb (1994)',
 'Living in Oblivion (1995)',
 'Hoop Dreams (1994)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Three Colors: Red (Trois couleurs: Rouge) (1994)',
 'Shawshank Redemption, The (1994)',
 'In the Name of the Father (1993)',
 "Schindler's List (1993)",
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 'Godfather, The (1972)',
 'Philadelphia Story, The (1940)',
 'Rear Window (1954)',
 'It Happened One Night (1934)',
 'Casablanca (1942)',
 'Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)',
 'All About Eve (1950)',
 'Notorious (1946)',
 'To Catch a Thief (1955)',
 'His Girl Friday (1940)',
 'Secrets & Lies (1996)',
 'Reservoir Dogs (1992)',
 'Streetcar Named Desire, A (1951)',
 'Paths of Glory (1957)',
 "One Flew Over the Cuckoo's Nest (1975)",
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Princess Bride, The (1987)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Lawrence of Arabia (1962)',
 'Apocalypse Now (1979)',
 "Once Upon a Time in the West (C'era una volta il West) (1968)",
 'Third Man, The (1949)',
 'Goodfellas (1990)',
 'Ran (1985)',
 'Godfather: Part II, The (1974)',
 'Boot, Das (Boat, The) (1981)',
 'Harold and Maude (1971)',
 'Seventh Seal, The (Sjunde inseglet, Det) (1957)',
 "Miller's Crossing (1990)",
 'Touch of Evil (1958)',
 'Chinatown (1974)',
 'Manchurian Candidate, The (1962)',
 'Cool Hand Luke (1967)',
 'High Noon (1952)',
 'Sweet Hereafter, The (1997)',
 'American History X (1998)',
 'Celebration, The (Festen) (1998)',
 'Fight Club (1999)',
 'Yojimbo (1961)',
 'Boondock Saints, The (2000)',
 'Creature Comforts (1989)',
 'Double Indemnity (1944)',
 "Guess Who's Coming to Dinner (1967)",
 'Hustler, The (1961)',
 'Outlaw Josey Wales, The (1976)',
 'Conversation, The (1974)',
 'In the Mood For Love (Fa yeung nin wa) (2000)',
 'Fog of War: Eleven Lessons from the Life of Robert S. McNamara, The (2003)',
 'Departed, The (2006)',
 'Dark Knight, The (2008)',
 'Inside Job (2010)',
 'Logan (2017)']

In [18]:
from scipy.sparse import csr_matrix

In [19]:
# wrong data set -> collobara
def create_matrix(df):
	
	N = len(df['userId'].unique())
	M = len(df['movieId'].unique())
	
	# Map Ids to indices
	user_mapper = dict(zip(np.unique(df["userId"]), list(range(N))))
	movie_mapper = dict(zip(np.unique(df["movieId"]), list(range(M))))
	
	# Map indices to IDs
	user_inv_mapper = dict(zip(list(range(N)), np.unique(df["userId"])))
	movie_inv_mapper = dict(zip(list(range(M)), np.unique(df["movieId"])))
	
	user_index = [user_mapper[i] for i in df['userId']]
	movie_index = [movie_mapper[i] for i in df['movieId']]

	X = csr_matrix((df["rating"], (movie_index, user_index)), shape=(M, N))
	
	return X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper

X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper = create_matrix(ratings)

In [20]:
movie_titles = dict(zip(movies['movieId'], movies['title']))

In [21]:
from sklearn.neighbors import NearestNeighbors
def find_similar_movies(movie_id, X, k, metric='cosine', show_distance=False):
    neighbour_ids = []

    movie_ind = movie_mapper[movie_id]
    movie_vec = X[movie_ind]
    k+=1
    kNN = NearestNeighbors(n_neighbors=k, algorithm="brute", metric=metric)
    kNN.fit(X)
    movie_vec = movie_vec.reshape(1,-1)
    neighbour = kNN.kneighbors(movie_vec, return_distance=show_distance)
    for i in range(1,k):
        n = neighbour.item(i)
        neighbour_ids.append(movie_titles[movie_inv_mapper[n]])
        #neighbour_ids[movie_inv_mapper[n]] = movie_titles[movie_inv_mapper[n]]
    return pd.DataFrame(neighbour_ids)

In [22]:
def prediction(name):

    movie_id = int(movies.loc[movies['title'] == name ]['movieId'])
    return(find_similar_movies(movie_id, X, k=20))

In [23]:
prediction('Jumanji (1995)')

                                                    0
0                               Lion King, The (1994)
1                               Mrs. Doubtfire (1993)
2                                    Mask, The (1994)
3                                Jurassic Park (1993)
4                                   Home Alone (1990)
5              Nightmare Before Christmas, The (1993)
6                                      Aladdin (1992)
7                         Beauty and the Beast (1991)
8               Ace Ventura: When Nature Calls (1995)
9                            Santa Clause, The (1994)
10                                      Casper (1995)
11                                    Stargate (1994)
12                                  Waterworld (1995)
13                                   True Lies (1994)
14                                       Speed (1994)
15                                       Ghost (1990)
16  Interview with the Vampire: The Vampire Chroni...
17                  Die Hard: With a Vengeance (1995)
18               Independence Day (a.k.a. ID4) (1996)
19                                      Batman (1989)

In [24]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# should be done in the root (even before gradio)
df = pd.read_csv("movies-series-data.csv")
df

# recommendation function
def get_title_recommendation(prodtitle,prodtype,minstartyear,maxstartyear,minduration,maxduration):
    
    df_rec = df.copy()
    df_title = df_rec[df_rec["primaryTitle"] == prodtitle]
    prodindex = None
    maingenre = None

    maingenre = df_rec.loc[df_rec["primaryTitle"] == prodtitle,"genre_1"].values[0]
    if len(prodtype) == 1 :
        df_rec = df_rec[df_rec["titleType"]==prodtype[0]]
    df_rec = df_rec[(df_rec["genre_1"]==maingenre)|(df_rec["genre_2"]==maingenre)|(df_rec["genre_3"]==maingenre)]
    df_rec = df_rec[(df_rec["startYear"]>=minstartyear)&(df_rec["startYear"]<=maxstartyear)]
    df_rec = df_rec[(df_rec["runtimeMinutes"]>=minduration)&(df_rec["runtimeMinutes"]<=maxduration)]
    df_rec = pd.concat([df_rec,df_title], axis = 0, ignore_index = True)
    df_rec = df_rec.drop_duplicates(subset = "primaryTitle")
    df_rec = df_rec.reset_index(drop = True)
    prodindex = df_rec[df_rec["primaryTitle"] == prodtitle].index.values[0]
    
    def make_features_soup(row) :

        genre_1 = str(row["genre_1"])
        if row["genre_2"] != "None" :
            genre_2 = row["genre_2"]
        else :
            genre_2 = ""
        if row["genre_3"] != "None" :    
            genre_3 = row["genre_3"]
        else :
            genre_3 = ""
        prodtype = str(row["titleType"])
        isadult = str(row["isAdult"])
        startyear = str(row["startYear"])
        duration = str(row["runtimeMinutes"])
        
        return genre_1+" "+genre_2+" "+genre_3+" "+prodtype+" "+startyear+" "+duration

    df_rec["soup"] = df_rec.apply(make_features_soup, axis = 1)

    count = CountVectorizer(stop_words="english")
    count_matrix = count.fit_transform(df_rec["soup"])
    prod_count_matrix = count_matrix[prodindex,:]
    cosine_sim = cosine_similarity(count_matrix,prod_count_matrix)
    df_rec["SimilarityScore"] = cosine_sim
    df_rec = df_rec.drop(prodindex, axis = 0)
    df_rec = df_rec[df_rec["SimilarityScore"]>=0.666]

    minvote = df_rec["numVotes"].quantile(0.5)
    global_average_vote = df_rec["averageRating"].mean()
    df_rec["RatingScore"] = df_rec["averageRating"]*df_rec["numVotes"]/(df_rec["numVotes"]+minvote)+global_average_vote*minvote/(df_rec["numVotes"]+minvote)
    df_rec = df_rec.sort_values(by = "RatingScore", ascending = False)
    df_rec = df_rec[['primaryTitle', 'soup', 'titleType']].head(10)
    return df_rec

In [25]:
# recommendation function
def get_genre_recommendation(prodtype,maingenre,minstartyear,maxstartyear,minduration,maxduration):

    df_rec = df.copy()

    if len(prodtype) == 1 :
        df_rec = df_rec[df_rec["titleType"]==prodtype[0]]
    df_rec = df_rec[(df_rec["genre_1"]==maingenre)|(df_rec["genre_2"]==maingenre)|(df_rec["genre_3"]==maingenre)]
    df_rec = df_rec[(df_rec["startYear"]>=minstartyear)&(df_rec["startYear"]<=maxstartyear)]
    df_rec = df_rec[(df_rec["runtimeMinutes"]>=minduration)&(df_rec["runtimeMinutes"]<=maxduration)]
    df_rec = df_rec.reset_index(drop = True)

    minvote = df_rec["numVotes"].quantile(0.5)
    global_average_vote = df_rec["averageRating"].mean()
    df_rec["RatingScore"] = df_rec["averageRating"]*df_rec["numVotes"]/(df_rec["numVotes"]+minvote)+global_average_vote*minvote/(df_rec["numVotes"]+minvote)
    df_rec = df_rec.sort_values(by = "RatingScore", ascending = False)
    df_rec = df_rec.head(10)
    return df_rec

In [27]:
import gradio as gr

def predict_from_title(movies_list, title_type, from_start_year, to_start_year,from_duration, to_duration ):
    return [movies_list,title_type, from_start_year, to_start_year,from_duration, to_duration]

def predict_from_genre(genre, title_type, from_start_year, to_start_year,from_duration, to_duration ):
    return [genre,title_type, from_start_year, to_start_year,from_duration, to_duration]

with gr.Blocks() as demo:
    gr.Markdown(
    """
    ### What should I watch tonight?

    You are not sure about what to watch next? try our brand new reccomandation app
    """)
    with gr.Tab("From Title"):
        with gr.Column():
            gr.Markdown("## Select your favorite movies and tv shows:")
            

            movies_list1 = ["The Shawshank Redemption","The Godfather","12 Angry Men","Schindler's List","The Lord of the Rings: The Return of the King","Pulp Fiction",
            "The Good, the Bad and the Ugly","Forrest Gump","Fight Club","Inception","Star Wars: Episode V - The Empire Strikes Back","The Matrix","The Silence of the Lambs",
            "Saving Private Ryan","The Green Mile","Terminator 2: Judgment Day","Back to the Future","Parasite","The Lion King","Alien", #######Tv series
            "Breaking Bad","Game of Thrones","The Mandalorian","Friends","The Sopranos","The Wonder Years","House of Cards","Lost","Westworld","Stranger Things","The X-Files",
                "Chernobyl","Narcos","The Simpsons","Vikings","Scooby Doo, Where Are You!","The Office","Star Trek: The Next Generation","MacGyver","Rick and Morty","Dexter"]
            movies_list = gr.Dropdown(movies_list1, interactive=True, label="Best titles:")
        with gr.Column():

            type_list = ['movie', 'tvseries']
            title_type = gr.CheckboxGroup(type_list, label="What are you looking for?")


            with gr.Row():
                with gr.Column():
                    from_start_year = gr.Slider(label="Start year, from:", value=1960, minimum=1960, maximum=2021, step=1)

                with gr.Column():
                    to_start_year = gr.Slider(label="Start year, to:", value=2021, minimum=1960, maximum=2021, step=1)
            with gr.Row():
                with gr.Column():
                    from_duration = gr.Slider(label="Min duration in minutes:", value=0, minimum=0, maximum=570, step=10)

                with gr.Column():
                    to_duration = gr.Slider(label="Max duration in minutes:", value=570, minimum=0, maximum=570, step=10)
            #####
            debug_button=gr.Button("check input")
            
            forecast_btn = gr.Button("Advice me!")

        with gr.Column():
            gr.Markdown(""" ### Our suggestions for tonight: """)
            output = [gr.Dataframe(row_count = (10, "dynamic"), col_count=(3, "fixed"), label="Predictions")]#, headers=["Failures"])]
            #output2 = gr.Textbox(label="Greeting")
            #debug_button.click(fn=predict_from_title, inputs=[movies_list, title_type, from_start_year, to_start_year,from_duration, to_duration ], outputs=output2)
            forecast_btn.click(fn=get_title_recommendation, inputs=[movies_list, title_type, from_start_year, to_start_year,from_duration, to_duration ], outputs=output) ####

    #################### GENRE ###########################################################################################
    with gr.Tab("From genre"):
        genre_list = [ 'film-noir', 'fantasy', 'sport', 'talk-show', 'adventure', 'animation', 'western', 
        'reality-tv', 'thriller', 'crime', 'game-show', 'drama', 'sci-fi', 'horror', 'musical', 'romance', 'family', 
        'action', 'history', 'music', 'war', 'biography', 'comedy', 'news', 'short', 'documentary', 'mystery', 'adult']
        with gr.Box():
                gr.Markdown("## Select your favourite genre:")
                genre = gr.Radio(choices=genre_list, label="")
        with gr.Column():
            title_type = gr.CheckboxGroup(type_list, label=" What are you looking for?")

            
        with gr.Row():
            
            with gr.Column():
                from_start_year = gr.Slider(label="Start year: from", value=1960, minimum=1960, maximum=2021, step=1)

            with gr.Column():
                to_start_year = gr.Slider(label="Start year: to", value=2021, minimum=1960, maximum=2021, step=1)
       # with gr.Row():
            with gr.Column():
                from_duration = gr.Slider(label="Min duration in minutes:", value=0, minimum=0, maximum=570, step=10)

            with gr.Column():
                to_duration = gr.Slider(label="Max duration in minutes:", value=570, minimum=0, maximum=570, step=10)
        forecast_btn = gr.Button("Forecast")
        with gr.Column():
            gr.Markdown("""### Our suggestions for tonight: """)
            # predict_from_genre(genre, title_type, from_start_year, to_start_year,from_duration, to_duration )
            output_genre = [gr.Dataframe(row_count = (10, "dynamic"), col_count=(3, "fixed"), label="Predictions")]#, headers=["Failures"])]

            forecast_btn.click(fn=get_genre_recommendation, inputs=[title_type,  genre, from_start_year, to_start_year,from_duration, to_duration], outputs=output_genre) ####
    
    with gr.Tab("From peers"):
        with gr.Box():
                gr.Markdown("## Select your favourite movie:")
                title = gr.Dropdown(choices=movies_selection_list, label="")


        forecast_btn = gr.Button("Forecast")
        with gr.Column():
            gr.Markdown("""### Our suggestions for tonight: """)
            # predict_from_genre(genre, title_type, from_start_year, to_start_year,from_duration, to_duration )
            output_collaborative = [gr.Dataframe(row_count = (10, "dynamic"), col_count=(1, "fixed"), label="Predictions")]#, headers=["Failures"])]

            forecast_btn.click(fn=prediction, inputs=[title], outputs=output_collaborative) ####
            #prediction(name)
demo.launch(share=True)

Running on local URL:  http://127.0.0.1:7861
Running on public URL: https://eb24e77829cc6d5c.gradio.app

This share link expires in 72 hours. For free permanent hosting and GPU upgrades (NEW!), check out Spaces: https://huggingface.co/spaces

(<gradio.routes.App at 0x2089fc5f010>,
 'http://127.0.0.1:7861/',
 'https://eb24e77829cc6d5c.gradio.app')